/*
 *= require_tree .
 *= require_self
 */

@import "welcome";
@import "sessions";
@import "users";

body{
  font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
#main-nav{
  border: 0;
  border-radius: 0;
  height: 80px;
  background-color: black;
}
#brand{
  //font-family: 'Montserrat Subrayada', sans-serif;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 36pt;
  letter-spacing: 2px;
  height: 80px;
  padding: 30px 30px 30px 30px;
  color: #66FF66;
}
.nav-but{
  height: 80px;
  display: block;
  float: left;
  border: 0;
  background-color: black;
}
.nav-but:hover{
  background-color: #009933;
  text-decoration: none;
  color: black;
}
.but-text{
  color: white;
}

#SearchWrapper{
  width: 100%;
}
#Search{
  width: 100%;
}

/* MAIN */
#PageWrapper{
  margin: auto;
  width: 950px;
}
